@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@700&family=Inter:wght@300&family=Lato:ital,wght@0,300;0,700;1,400&family=Orbitron&family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/textured-black-background.jpg');
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
